/*
	<div class="marker-cluster marker-cluster-{small,large,medium}" style="height:....; width: ...">
		<div>
			<span>123</span>
		</div>
	</div>
 */

/* <div class="marker-cluster ..."> */
.marker-cluster {
 	background-clip: padding-box;
 	border-radius: 100%;
 }

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
  width: 10px !important;
  height: 10px !important;
}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	width: 40px !important;
	height: 40px !important;
}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	width: 70px !important;
	height: 70px !important;
}
	/* <div class="marker-cluster"> → <div> */
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 100%;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	.marker-cluster-small div {
		background-color: rgba(110, 204, 57, 0.6);
		width: 20px;
		height: 20px;
	}
	.marker-cluster-medium div {
		background-color: rgba(240, 194, 12, 0.6);
		width: 50px;
		height: 50px;
	}
	.marker-cluster-large div {
		background-color: rgba(241, 128, 23, 0.6);
		width: 80px;
		height: 80px;
	}

	/* <div class="marker-cluster"> → <div> → <span> */
	.marker-cluster-small span {
		line-height: 20px;
	}

	.marker-cluster-medium span {
		line-height: 50px;
	}

	.marker-cluster-large span {
		line-height: 80px;
	}
